body {
	margin: 0;
	padding:0;
	background: url("pexels.jpeg") no-repeat;
	background-size: cover;
}

.box{
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	font-family: 'Century Gothic', sans-serif;
}

.image{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
	color: white;	
}

h5 {
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
	color: white;
}

p{
	text-align: justify;
	color: #bdb128;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

li a {
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out: 250ms;
}

li a:hover{
	color: #b61f1f;
}